name: Deploy Test Operator Admin
on:
  push:
    branches:
      - develop
jobs:
  deploy:
    runs-on: [self-hosted, dev]
    environment: dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: create .env file
        run: |
          cat <<EOF > test.env
          REDIS_PORT=${{ vars.REDIS_PORT }}
          
          ADMIN_TOKEN=${{ secrets.ADMIN_TOKEN }}
          OPERATOR_TOKEN=${{ secrets.OPERATOR_TOKEN }}
      
          ADMINS=${{ vars.ADMINS }}
          ADMINS_1=${{ vars.ADMINS_1 }}
          ADMINS_2=${{ vars.ADMINS_2 }}
      
          POSTGRES_USER=${{ vars.POSTGRES_USER }}
          POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_HOST=${{ vars.POSTGRES_HOST }}
          POSTGRES_PORT=${{ vars.POSTGRES_PORT }}
          POSTGRES_DB=${{ vars.POSTGRES_DB }}
          DB_ECHO_LOG=${{ vars.DB_ECHO_LOG }}
      
          SERVICE_PORT=${{ vars.SERVICE_PORT }}
          SERVICE_TOKEN=${{ secrets.SERVICE_TOKEN }}
          WEB_APP_URL=${{ vars.WEB_APP_URL }}
          
          S3_ACCESS_KEY_ID=${{ secrets.S3_ACCESS_KEY_ID }}
          S3_SECRET_ACCESS_KEY=${{ secrets.S3_SECRET_ACCESS_KEY }}
          S3_BUCKET_NAME=${{ vars.S3_BUCKET_NAME }}
          S3_ENDPOINT_URL=${{ vars.S3_ENDPOINT_URL }}
          EOF

      - name: Build and run
        run: |
          docker compose -p operator-admin-test build
          docker compose -p operator-admin-test --env-file test.env up -d --remove-orphans
